/**
 * Mintlify Custom Styles
 *
 * This file is automatically loaded by Mintlify.
 * Import tsdocs-styles.css to enable default component styling.
 */

@import url('./.tsdocs/client/tsdocs-styles.css');